* {
    font-family: Garamond;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%
}

body {
    min-height: 100%;
    width: 100%;
}

header {
    background-color: #331800;
    border-top: solid;
    border-bottom: solid;
    border-color: black;
    border-width: 5px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

h1 {
    box-sizing: border-box;
    margin-left: 5%;
    display: inline-flex;
    color: wheat;
}

.headers {
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    border-right: solid;
    border-color: black;
    border-width: 5px;
    background-color: saddlebrown;
    text-align: left;
    color: wheat;
    width: 30%;
}

.content {
    display: inline-flex;
    justify-content: right;
    flex-direction: column;
    margin: 2%;
}

.headers h2 {
    margin: 20%;
    margin-left: 10%;
    padding: 20%;
    padding-left: 0;
    text-decoration: underline;
}

nav {
    display: inline-flex;
    margin-right: 10%;
}

nav a {
    color: wheat;
    text-decoration: underline;
    text-align: center;
    margin: 10%;
    margin-right: 10%;
    font-size: 20px;
    font-style: bold;
}

nav a:hover {
    color: maroon;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    background-color: saddlebrown;
    display: flex;
}

.about-me {
    background-color: wheat;
    border: solid;
    border-color: black;
    border-width: 5px;
    padding: 2%;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

#profile {
    max-height: 150px;
    width: 150px;
    position: relative;
    border: solid;
    border-color: black;
    border-width: 5px;
    object-fit: cover;
}

.about-me p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 60%;
}

.contact-information {
    background-color: wheat;
    border: solid;
    border-color: black;
    border-width: 5px;
    margin: 2%;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.contact-information p {
    font-size: 22px;
    font-weight: bold;
}

.contact-information a:hover {
    color: maroon;
}

.projects {
    background-color: wheat;
    border: solid;
    border-color: black;
    border-width: 5px;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.titles {
    font-size: 24px;
    font-weight: bold;
    font-family: Garamond;
    border: solid;
    border-color: black;
    border-width: 5px;
    background-color: wheat;
    padding: 1%;
}

#title1 {
    position: absolute;
    top: 35%;
    left: 10%;
}

#title2 {
    position: absolute;
    bottom: 2%;
    left: 6%;
}

#title3 {
    position: absolute;
    bottom: 2%;
    right: 22%;
}

.project-other {
    height: 150px;
    width: 500px;
    border: solid;
    border-color: black;
    border-width: 5px;
    margin: 2%;
    object-fit: cover;
}

#project-one {
    width: 1000px;
    height: 150px;
    object-fit: cover;
    border: solid;
    border-color: black;
    border-width: 5px;
    margin: 2%;
    margin-left: 0;
}

#project-one:hover {
    border-color: maroon;
}

.project-other:hover {
    border-color: maroon;
}

.titles:hover {
    border-color: maroon;
}

footer {
    background-color: #331800;
    border-top: solid;
    border-bottom: solid;
    border-color: black;
    border-width: 5px;
}

footer h2 {
    color: wheat;
    text-align: center;
    margin: 2%;
}