* {
    font-family: Garamond;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
}

header {
    background-color: #331800;
    width: 100%;
    border-top: solid;
    border-bottom: solid;
    border-color: black;
    border-width: 5px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    box-sizing: border-box;
    margin-left: 40px;
    display: inline-flex;
    color: wheat;
}

.headers {
    display: inline-flex;
    justify-content: left;
    flex-direction: column;
    border-right: solid;
    border-color: black;
    border-width: 5px;
    background-color: saddlebrown;
    height: 100vh;
    text-align: left;
    color: wheat;
}

.content {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: right;
    flex-direction: column;
    margin: 30px;
}

.headers h2 {
    margin: 40px;
    margin-left: 40px;
    padding: 40px;
    padding-left: 0;
    text-decoration: underline;
}

nav {
    display: inline-flex;
    margin-left: 200px;
}

nav a {
    color: wheat;
    text-decoration: underline;
    text-align: center;
    margin: 30px;
    font-size: 20px;
    font-style: bold;
}

main {
    background-color: saddlebrown;
    display: flex;
}

.about-me {
    background-color: wheat;
    border: solid;
    border-color: black;
    border-width: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
}

#profile {
    height: 150px;
    width: 150px;
    position: absolute;
    left: 400px;
}

.about-me p {
    font-size: 20px;
    font-weight: bold;
}

.contact-information {
    background-color: wheat;
    border: solid;
    border-color: black;
    border-width: 5px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.contact-information h3 {
    margin-left: 10px;
    font-size: 22px;
}

.projects {
    background-color: wheat;
    border: solid;
    border-color: black;
    border-width: 5px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-other {
    height: 150px;
    width: 500px;
    border: solid;
    border-color: black;
    border-width: 5px;
    margin: 10px;
    object-fit: cover;
}

#project-one {
    width: 1050px;
    height: 150px;
    text-align: center;
    object-fit: cover;
    border: solid;
    border-color: black;
    border-width: 5px;
    margin: 10px;
}

footer {
    background-color: #331800;
    border-top: solid;
    border-bottom: solid;
    border-color: black;
    border-width: 5px;
}

footer h2 {
    color: wheat;
    text-align: center;
    margin: 10px;
}